@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --primary-color: #a855f7;
  --primary-color-dark: #9333ea;
  --secondary-color: #ca8a04;
  --text-dark: #1f2937;
  --text-light: #6b7280;
  --extra-light: #faf5ff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:	#f5f5dc;
  z-index: 99;
}



.nav__content {
  /* max-width: var(--max-width); */
  /* margin: auto; */
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  color: goldenrod;
}
nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color:	#7e322f;
  transition: 0.3s;
  text-decoration: none;
}
nav .logo a:hover {
  color: var(--primary-color-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}

.section {
  background-color: #f1e8e2;
}

.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}
.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
}

#v{
  text-align: center;
  padding: 4px;
  border:2px solid black;
  border-radius: 10px;
  width: 20%;
  color:#ffffff;
  font-size:large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  background-color:cadetblue;
  text-decoration: none;
  background-color: #ca8a04;
  color: black;
  
}

#v:hover{
  background-color: #1f2937;
  color: #ca8a04;
}

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
  text-align: center;
}
.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

i{
  color: #1f2937;
  height: 40px;
  width: 50px;
  font-size: xx-large;
  
}


footer {
  height: 26vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}



.pdf-container {
	position:fixed;
	top: 0;
	top: 0;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 70%;
	padding-top: 15vh;
	background-color: white;
}
#resume1:hover{
  color: rgb(90, 90, 174);
  font-weight: bold;

}
.table{
  height:fit-content;
  width: fit-content;
}
.accordion-body{
  height:fit-content;
  width: fit-content;

}




@media (width < 540px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
    
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }

  .v,.table,.accordion-body{
    height: fit-content;
    width: fit-content;
    margin: auto;
  }
  #modal{
    height: fit-content;
    width: fit-content;
  }
  
  #contact{
      height: fit-content;
    }
  .contact-info-upper-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p{
    font-size: 1rem;
  }
  
  footer {
    height: 40vh;
  }
  .pdf-container {
    width: 100% !important;
    height: 80vh !important;
  }
  .container-fluid,
  .container{
    height:fit-content;
    width: fit-content;
  }
  .table{
    height:fit-content;
    width: fit-content;
  }
  
}